/* general */
body {
	background-image: url("images/bkgd.jpg");
}
h2 {
	font-style: italic;
}

/* page header */
.page-header {
	margin-top: 70px;
	padding-left: 10px;
}

/* navigation bar */
.navbar {
	opacity: 0.9;
}

/* about page */
#about img {
	float: left;
	width: 140px;
	margin-right: 10px;
}

/* portfolio */
.row h3 {
	font-size: 1.6em;
}
#portfolio img {
	width: 100%;
}
.portDescrip {
	margin-top: 5px;
}
.row div {
	width: 30%;
	height: 380px;
	margin: 10px;
	display: inline-block;
	float: left;
}
#portfolio a { 
	text-decoration: none;
	color: #333;
}

#portfolio a:hover { 
	text-shadow: 2px 2px 3px #bdbdbd;
}

/* résumé */
#resume {
	width: 800px;
	margin: auto;
}

/* footer */
#footer {
	position: relative;
 	margin-top: 5px;
 	padding: 10px;
 	font-size: 90%;
 	color: black;
 	text-align: right;
 }