/* general */
body {
	background-image: url("images/bkgd.jpg");
}
h2 {
	font-style: italic;
	margin-bottom: 20px;
}

/* page header */
.page-header {
	margin-top: 70px;
	padding-left: 10px;
}

/* navigation bar */
.navbar {
	opacity: 0.9;
}

/* index page */
#index img {
	width: 100%;
	-webkit-filter: grayscale(90%); 
}

/* about page */
#books {
	width: 100%;
	-webkit-filter: grayscale(90%); 
}
#selfie {
	float: left;
	width: 140px;
	margin-right: 20px;
	border-radius: 100%;
}


/* résumé page */
#resume img {
	width: 80%;
	margin: 10px auto;
	box-shadow: 2px 2px 10px #bdbdbd;
}
#resume a {
	display: block;
	margin-top: 10px;
}

/* portfolio page */
.row h3 {
	font-size: 1.6em;
}
#portfolio img {
	width: 100%;
}
.portDescrip {
	margin-top: 5px;
}
.row div {
	width: 30%;
	height: 360px;
	margin: 10px;
	display: inline-block;
	float: left;
}
#portfolio a { 
	text-decoration: none;
	color: #333;
}
#portfolio a:hover { 
	text-shadow: 2px 2px 3px #bdbdbd;
}

/* footer */
#footer {
	position: relative;
 	padding: 10px 20px 10px 10px;
 	margin-top: 20px;
 	font-size: 90%;
 	color: #fff;
 	text-align: right;
 	background-color: black;
 }